# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/

# MLflow
mlruns/
mlartifacts/

# Models
models/*.pkl

# Data
data/*.csv

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Poetry
dist/
*.egg-info/

# Testing
.pytest_cache/
.coverage
htmlcov/

# Environment
.env
